
.options {
  display: grid;
  grid-template-columns: 30% auto;
  grid-gap: 5px;
  padding: 10px;
  border-bottom: 1px solid;
}

.checkbox {
  margin-top: 10px;
  width: 18px;
}

#saveOptions, #sorting {
  margin-top: 5px;
  text-align: center;
  width: 100px;
}

label {
  padding-top: 8px;
}
