
body {
  font-family: sans-serif;
}

button {
  width: 90px;
}

#container {
  display: grid;
  grid-template-columns: 190px auto;
  grid-template-rows: auto auto 150px 22px auto;
  grid-gap: 5px;
}

#notes, #tags, textarea {
  padding: 5px;
}

#notes {
  --notes-row-span: span 3;
  grid-row: var(--notes-row-span);
}

#notes.short {
  --notes-row-span: span 1;
}

.no-tags {
  display: none;
}

textarea#content {
  font-size: 1.2em;
  grid-row: span 3;
  resize: none;
  margin: 0;
  height: 450px;
}

#note-buttons {
  grid-column-start: 2;
}
